{% extends "base.html" %} {% block content %}

<h1>BLOG LIST</h1>

<section class="row ">

    {% for post in posts %}
    
    <div class="col-12 col-md-6 col-xl-4">
        <div class="card" style="">
            <svg aria-label="Placeholder: Image cap" class="bd-placeholder-img card-img-top" height="180"
                preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
            </svg>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }} </h5>
                <p class="card-text">
                    {{ post.content }}
                </p>
                <span>
                    written by:<a href="#" class="">{{ post.author }}</a>
                </span>
                created_on: {{ post.created_on }}
                status: {{ post.status }}
                updated_on: {{ post.updated_on }}
            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}